<cart-form id="AjaxCartForm" class="body-text-sm">

	<div class="cart__title sidebar-title-element" data-added-singular="{{ 'cart.added_items_count.one' | t }}" data-added-plural="{{ 'cart.added_items_count.other' | t }}" data-cart-empty="{{ 'cart.empty' | t }}">
		{% if cart.item_count > 0 %}
			<span>{{ 'cart.items_count' | t: count: cart.item_count }}</span>
		{% else %}
			<span 
				{% if template contains 'cart' %} 
					style="margin-bottom: calc(var(--vertical-padding) * 1.5);display: block;"
				{%- endif -%}
			>{{ 'cart.empty' | t }}</span>
		{% endif %}
	</div>

	<form action="{{ routes.cart_url }}" method="post" novalidate class="cart__form {% if cart.item_count == 0 %} cart--empty {% endif %}" id="cart">
		
		<div class="cart__items">

			{% if cart.item_count > 0 %}
			
				{% for item in cart.items %}

		      <div id="item-{{ item.id }}" class="cart-item" data-title="{{ item.product.title | escape }} {%- unless item.product.has_only_default_variant -%} ({{ item.variant.title | escape }}) {%- endunless -%}" data-id="{{ item.key }}" data-qty="{{ item.quantity }}" data-product-id="{{ item.product.id }}" data-js-cart-item>

		        <a href="{{ item.url }}" class="thumbnail">
		        	{%- render 'lazy-image-small', image: item.image -%}
		        </a>

		        <div class="content">

		          <a href="{{ item.url }}" class="title">
		            <span class="underline-animation">{{ item.product.title | escape }}</span>
	              {% unless item.product.has_only_default_variant %}
	                <span>({{ item.variant.title | escape }})</span>
	              {% endunless %}
		          </a>

		          {%- if item.selling_plan_allocation -%}
	              <span style="display: block; font-size: 90%;">
	                {{ item.selling_plan_allocation.selling_plan.name }} 
	              </span>
	            {%- endif -%}
		      
		          <div class="price">

		            <div class="conditional-qty qty-{{ item.quantity }}">

		              {%- if item.final_line_price < item.original_line_price -%}
										<span class="visually-hidden">{{ 'general.accessibility_labels.price.regular' | t }}</span>
		                <strong>{{ item.final_line_price | money }}</strong>
										<span class="visually-hidden">{{ 'general.accessibility_labels.price.sale' | t }}</span>
		                <span><del>{{ item.original_line_price | money }}</del></span>
		              {%- elsif item.variant.compare_at_price > item.variant.price -%}
										<span class="visually-hidden">{{ 'general.accessibility_labels.price.regular' | t }}</span>
		                <strong>{{ item.final_line_price | money }}</strong>
										<span class="visually-hidden">{{ 'general.accessibility_labels.price.sale' | t }}</span>
		                <span><del>{{ item.variant.compare_at_price | times: item.quantity | money }}</del></span>
		              {%- else -%}
										<span class="visually-hidden">{{ 'general.accessibility_labels.price.regular' | t }}</span>
		                <strong>{{ item.final_line_price | money }}</strong>
		              {%- endif -%}


		            </div>
		            
	              {% if item.unit_price_measurement %}
	                <span class="unit-price">
	                  {{ item.unit_price | money }} / 
	                  {% if item.unit_price_measurement.reference_value != 1 %}
	                    {{ item.unit_price_measurement.reference_value }}
	                  {% endif %}
	                  {{ item.unit_price_measurement.reference_unit }}
	                </span>
	              {% endif %}

		          </div>

		          {% assign property_size = item.properties | size %}
		          {% if property_size > 0 %}
		            {% for p in item.properties %}
		              {% unless p.last == blank %}
										<small style="font-style:normal;opacity:.86">
											{{ p.first }}:
											{% if p.last contains '/uploads/' %}
												<a href="{{ p.last }}">
{% assign file_type = p.last | split: '.' | last | downcase %}
{% assign file_types = 'jpg,jpeg,webp,gif,png,apng,avif,svg,bmp,ico,tiff' | split: ',' %}
{% if file_types contains file_type %}
  <div class="bcpo-cart-file"><img src="{{ p.last }}" style="max-width: 50px; height: auto;"></div>
{% else %}
  <span class="bcpo-cart-file">Uploaded file</span>
{% endif %}
</a>
											{% else %}
												{{ p.last }}
											{% endif %}
										</small>
		              {% endunless %}
		            {% endfor %}
		          {% endif %}

							{% if item.line_level_discount_allocations.size > 0 %}
							 {% for discount_allocation in item.line_level_discount_allocations %}
								 <small class="discount">{{ 'cart.discount' | t }} {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</small>
							 {% endfor %}
						 {% endif %}

		        </div>
		          
		        <div class="actions">
	         		<input data-href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=$qty" class="qty" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" aria-label="{{ 'general.accessibility_labels.quantity' | t }}">
		          <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove" title="{{ 'cart.remove_item' | t }}" aria-label="{{ 'cart.remove_item' | t }}" tabindex="0"><span aria-hidden="true">{%- render 'theme-symbols', icon: 'close' -%}</span></a>
		        </div>

		      </div>

		    {% endfor %}


			<div>
				<h3>Message Card</h3>
				<textarea name="attributes[messageCard]" value="{{ cart.attributes.messageCard }}" id="" cols="30" rows="10" placeholder="Don't forget to sign your name on the card, unless you wish to remain anonymous"></textarea>
			</div>
			<br><br>
			<div>
				<h3>Special instructions for seller</h3>
				<textarea name="attributes[instructions]" value="{{ cart.attributes.instructions }}" id="" cols="30" rows="10" placeholder="Enter notes to florist, allergies, delivery instructions, etc"></textarea>
			</div>
			<br><br>
	
			<div>
				<h3>Select pickup or delivery to see available dates</h3>
			</div>
	
			<div class="tabs">
				<label class="tab pickup">
					<svg xmlns="http://www.w3.org/2000/svg" height="30" version="1" viewBox="0 0 256 256" preserveAspectRatio=""><path d="M34 2c-3 4-2 9 1 12 2 2 3 2 93 2s91 0 93-2c4-3 4-8 1-12l-1-2H35l-1 2zM16 55L0 87l128 1 128-1-16-32-15-32H32L16 55zm49-18l2 2-8 19c-8 15-9 17-11 17s-3-1-3-3c0-3 17-36 19-36l1 1zm32 0l2 2-8 19c-8 15-9 17-11 17s-3-1-3-3c0-3 17-36 19-36l1 1zm33 0c1 1 2 4 2 17 0 17-1 21-4 21s-4-4-4-21c0-13 1-16 2-17l2-1 2 1zm31 0l10 17c9 17 10 21 5 21a254 254 0 0 1-21-35c0-2 2-4 4-4l2 1zm33 1c3 3 17 32 17 34s-1 3-3 3-3-2-10-17c-9-17-10-20-8-21s3-1 4 1zM0 104c1 8 1 10 4 15 3 6 10 12 16 15l4 1v104H14c-9 1-10 1-12 3-3 4-3 9 1 12 2 2 2 2 125 2s123 0 125-2c4-3 4-8 1-12-2-2-3-2-12-3h-10V135l4-1c6-3 13-9 17-15 2-5 3-7 3-15v-9H0v9zm65 9c0 3 6 12 10 15l9 6 4 1v104H40V135l4-1 9-6c4-3 10-12 10-15l1-2 1 2zm132 8c3 5 9 11 15 13l4 1v104H96V136h5c10-2 20-9 24-19l3-5 3 6c3 6 9 12 16 15 3 2 6 3 13 3s10-1 13-3c7-3 13-9 17-16l2-6 2 3 3 7z"></path><path d="M68 160c-4 2-6 10-2 14 2 1 2 3 2 9 0 7 0 9-2 11-3 3-3 9 1 12 5 4 13 1 13-6l-2-6c-2-2-2-4-2-11 0-6 0-8 2-10 3-2 3-8 0-11-2-2-7-3-10-2zM145 162l-11 11 3 3 3 3 12-11 11-12-3-3-3-3-12 12zM157 173l-23 23 3 3 4 3 23-23 22-23-2-3-4-3-23 23zM168 183l-11 13 3 3 3 3 11-12 12-12-3-3-4-3-11 11z"></path></svg>
					<span>Store Pickup</span>	
					<input type="radio" value="pickup" name="attributes[delivery]">		
				</label>
				<label class="tab delivery">
					<svg xmlns="http://www.w3.org/2000/svg" height="30" version="1" viewBox="0 0 160 128" preserveAspectRatio=""><path d="M23 3l-1 8v7l-10 1-11 3c-3 2 0 4 7 5l8 2-8 2c-6 1-7 2-8 4 0 2 1 2 7 3l8 2-6 1c-8 1-9 2-9 4s1 2 6 3l11 2 5 1v11l1 12 68 1h67V59l-11-21-10-21-5-1h-4v10h-12V16l-1-12c0-2-5-2-46-2L23 3zm113 32l3 7 8 19h-27V34h8l8 1zM23 83l-1 13v12h14l1-4c3-5 7-10 11-11 7-2 17 0 21 5l4 5 1 5h20c19 0 20-1 21-2 6-11 10-14 18-14 9 0 15 4 18 12 2 3 2 4 4 4 2-1 2-1 2-14V83l-67-1c-60 0-67 0-67 2z"></path><path d="M50 100c-6 3-9 9-7 15s6 9 12 9c9 0 13-5 13-13 0-10-10-16-18-11zm77 0c-6 4-8 12-5 18 3 4 6 6 12 6 5 0 6 0 9-3 4-5 5-10 2-15-3-7-11-10-18-6z"></path></svg>
					<span>Local Delivery</span>	
					<input type="radio"  value="delivery" name="attributes[delivery]">
				</label>
			</div>
			<br><br>
			<div class="date-picker-wrapper">
				<label for="time">Prefered Date:</label><br><br>
				<input id="date" type="text" name="attributes[date]" value="{{ cart.attributes.date }}" autocomplete="off" required/>
			</div>
			<!-- <div id="js-delivery-time">
				<label for="time">Prefered Delivery Time:</label><br><br>
					<select name="attributes[deliveryTime]" class="js-delivery-time-select" value="{{ cart.attributes.deliveryTime }}">
					</select>
			</div> -->
			<div id="js-pick-up-time">
				<label for="time">Prefered Pickup Time:</label><br><br>
					<select name="attributes[pickUpTime]" class="js-pick-up-time-select" value="{{ cart.attributes.pickUpTime }}">
					</select>
			</div>

			{% endif %}

		</div>




	</form>

	<span class="cart__count hidden" aria-hidden="true" data-cart-count>{{ cart.item_count }}</span>

</cart-form>