
<!doctype html>
  {%- liquid
  assign direction = 'ltr'
  assign rtl_iso_codes = 'ar,he,ur,fa,pa,sd,ku' | split: ','
  if rtl_iso_codes contains request.locale.iso_code
    assign direction = 'rtl'
  endif
  -%}
  <html class="no-js html-password" lang="{{ request.locale.iso_code }}" dir="ltr">

<head>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">

	{% if settings.favicon_image %}
		<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
	{% endif %}

	<title>{{ shop.name | escape }}</title>

	{%- render 'open-graph' -%}

	<link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  {%- unless settings.headings_font.system? and settings.body_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {%- render 'head-variables' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

	{{ content_for_header }}

</head>

{{ 'section-main-password.css' | asset_url | stylesheet_tag }}

<body class="template-password no-touch">

  <script>
    function debounce(fn, wait) {
      let t;
      return (...args) => {
        clearTimeout(t);
        t = setTimeout(() => fn.apply(this, args), wait);
      };
    }
    window.KEYCODES = {
      TAB: 9,
      ESC: 27,
      DOWN: 40,
      RIGHT: 39,
      UP: 38,
      LEFT: 37,
      RETURN: 13
    };
  </script>
  
  <a href="#content" class="visually-hidden skip-to-content" tabindex="0">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

  <div class="main-password-page">

	  {%- section 'main-password-header' -%}

		<div id="content-holder" style="margin-top:0">
			<main id="content" role="main">
        {{ 'component-slider.css' | asset_url | stylesheet_tag }}
        <script src="{{ 'component-slider.js' | asset_url }}" defer></script>
			  <div id="page-content">{{ content_for_layout }}</div>
			</main>
		</div>

	</div>

  {{ 'section-footer.css' | asset_url | stylesheet_tag }}
	{%- section 'main-password-footer' -%}
	
	<script type="text/javascript">

    KROWN = {
      settings: {
        symbols: {
          arrow: `{%- render 'theme-symbols', icon: 'arrow-long' -%}`,
          zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
          zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,
          close: `{%- render 'theme-symbols', icon: 'close' -%}`,
          toggle_pack: `<span class="low-dpi"><svg class="svg symbol symbol--minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M18 13H6v-2h12v2z" fill="#000"/></svg></span><span class="high-dpi"><svg class="svg symbol symbol--minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M18 12.5H6V11h12v1.5z" fill="#000"/></svg></span><span class="low-dpi"><svg class="svg symbol symbol--plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 13V18H13V13H18V11H13V6H11V11H6V13H11Z" fill="black"/></svg></span><span class="high-dpi"><svg class="svg symbol symbol--plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M10.75 12.25V17h1.5v-4.75H17v-1.5h-4.75V6h-1.5v4.75H6v1.5h4.75z" fill="#000"/></svg></span>`
        },
        predictive_search_enabled: "false"
      }
    }

	</script>

	<script type="text/javascript">
		if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
		  document.querySelector('body').classList.remove('no-touch');
		  document.querySelector('body').classList.add('touch');
		} 
	</script>

  <script src="{{ 'theme.js' | asset_url }}" defer></script>

  {%- if request.design_mode -%}
    <script src="{{ 'component-announcement-bar.js' | asset_url }}" defer></script>
    <script src="{{ 'component-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>
    <script src="{{ 'section-main-product.js' | asset_url }}" defer></script>
    <script src="{{ 'section-gallery.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video-background.js' | asset_url }}" defer></script>
    <script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>
    <script src="{{ 'component-cart.js' | asset_url }}" defer></script>
    <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
  {%- endif -%}


</body>
</html>