<!doctype html>
{%- liquid
assign direction = 'ltr'
assign rtl_iso_codes = 'ar,he,ur,fa,pa,sd,ku' | split: ','
if rtl_iso_codes contains request.locale.iso_code
  assign direction = 'rtl'
endif
-%}
<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  dir="{{ direction }}">

  <head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBJDK2');</script>
<!-- End Google Tag Manager -->
{% include 'e-dataLayer-allPage' %}
  <link rel="stylesheet" href="https://obscure-escarpment-2240.herokuapp.com/stylesheets/bcpo-front.css">
  <script>var bcpo_product={{ product | json }}; {% if product.metafields.bcpo.bcpo_data %}var bcpo_data={{ product.metafields.bcpo.bcpo_data }};{% endif %} {% if shop.metafields.bcpo.bcpo_settings %}var bcpo_settings={{ shop.metafields.bcpo.bcpo_settings }};{% endif %}var inventory_quantity = [];{% for v in product.variants %}inventory_quantity.push({{v.inventory_quantity}});{% endfor %}if(bcpo_product) { for (var i = 0; i < bcpo_product.variants.length; i += 1) { bcpo_product.variants[i].inventory_quantity = inventory_quantity[i]; }}window.bcpo = window.bcpo || {}; bcpo.cart = {{cart | json}}; bcpo.ogFormData = FormData; bcpo.money_with_currency_format = {{ shop.money_with_currency_format | json }};bcpo.money_format = {{ shop.money_format | json }};</script>
    <script>
      var bcpo_product = {{ product | json }};{% if product.metafields.bcpo.bcpo_data %}
        var bcpo_data = {{ product.metafields.bcpo.bcpo_data }};{% endif %}{% if shop.metafields.bcpo.bcpo_settings %}
        var bcpo_settings = {{ shop.metafields.bcpo.bcpo_settings }};{% endif %}var inventory_quantity = [];{% for v in product.variants %}inventory_quantity.push({{v.inventory_quantity}});{% endfor %}if (bcpo_product) {
        for (var i = 0; i < bcpo_product.variants.length; i += 1) {
          bcpo_product.variants[i].inventory_quantity = inventory_quantity[i];
        }
      }
      window.bcpo = window.bcpo || {};
      bcpo.cart = {{cart | json}};
      bcpo.ogFormData = FormData;
      bcpo.money_with_currency_format = {{ shop.money_with_currency_format  | json }};
      bcpo.money_format = {{ shop.money_format  | json }};
    </script>
    <script src='{{ 'subscription-plan-selector-js.js' | asset_url }}' defer='defer'></script>
    <script id='sealoop_product' type='application/json'>
      {{ product | json }}
    </script>
    <script id='sealoop_product_selected_or_first_variant' type='application/json'>
      {{ product.selected_or_first_available_variant.id | json }}
    </script>
    <script id='sealoop_money_format' type='application/json'>
      {{ shop.money_format | json }}
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1">

    {%- if settings.favicon -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
        type="image/png" />
    {%- endif -%}

    {%- capture seo_title -%}
      {%- if template contains 'search' -%}
        {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
      {%- else -%}
        {{ page_title }}{% if current_tags %}
          {% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}
        {% if current_page != 1 %}
          &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
        {% unless page_title contains shop.name %}
          &ndash; {{ shop.name | escape }}{% endunless %}
      {%- endif -%}
    {%- endcapture -%}

    <title>{{ seo_title }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- liquid
    render 'open-graph'
    unless settings.disable_microdata 
      render 'microdata-schema'
    endunless
  -%}

    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preconnect" href="https://cdn.shopify.com">
    {%- unless settings.headings_font.system? and settings.body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    {%- render 'head-preloader' -%}
    {%- render 'head-variables' -%}
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
    <script id="vopo-head">(function () {
      if (((document.documentElement.innerHTML.includes('asyncLoad') && !document.documentElement.innerHTML.includes('\\/obscure' + '-escarpment-2240')) || (window.bcpo && bcpo.disabled)) && !window.location.href.match(/[&?]yesbcpo/)) return;
                                                	var script = document.createElement('script');
                                                	var reg = new RegExp('\\\\/\\\\/cdn\\.shopify\\.com\\\\/proxy\\\\/[a-z0-9]+\\\\/obscure-escarpment-2240\\.herokuapp\\.com\\\\/js\\\\/best_custom_product_options\\.js[^"]+');
                                                	var match = reg.exec(document.documentElement.innerHTML);
                                                	script.src = match[0].split('\\').join('').replace('%3f', '?').replace('u0026', '&');
                                                	var vopoHead = document.getElementById('vopo-head'); vopoHead.parentNode.insertBefore(script, vopoHead);
                                                })();
    </script>

    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <noscript>
      <link rel="stylesheet" href="{{ 'theme-noscript.css' | asset_url }}">
    </noscript>

    <script>
      const ProductGalleryResizeHelper = productGallery => {
        if ((window.innerWidth >= 768 && productGallery.classList.contains('product-gallery--slider')) || (window.innerWidth < 1024 && window.innerWidth >= 768)) {
          productGallery.querySelectorAll('.lazy-image').forEach(elm => {
            const gutter = "image" == elm.parentNode.dataset.productMediaType || 1024 > window.innerWidth
              ? 0
              : productGallery.classList.contains("product-gallery--thumbnails")
                ? productGallery.classList.contains("product-gallery--gutter")
                  ? 110
                  : 100
                : productGallery.classList.contains("product-gallery--gutter")
                  ? 70
                  : 50;
            elm.parentNode.style.width = ((productGallery.offsetHeight - gutter) * elm.dataset.ratio) + 'px';
          });
        } else {
          productGallery.querySelectorAll('.lazy-image').forEach(elm => {
            elm.parentNode.style.width = '';
          });
        }
      }
    </script>

    <!-- custom css and js -->

    <!--
    {{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>


    <script
    src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
    type="text/javascript"
    defer="defer"></script>
    -->

    {{ 'https://code.jquery.com/jquery-2.2.4.min.js' | script_tag }}
    {{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
      integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
      crossorigin="anonymous"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"
      type="text/javascript"
      defer="defer"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.css" />


  </head>

  <body id="{{ page_title | handle }}" class="{% if customer %} customer-logged-in {% endif %} template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }} no-touch">

    <script>
      function debounce(fn, wait) {
        let t;
        return(...args) => {
          clearTimeout(t);
          t = setTimeout(() => fn.apply(this, args), wait);
        };
      }
      window.KEYCODES = {
        TAB: 9,
        ESC: 27,
        DOWN: 40,
        RIGHT: 39,
        UP: 38,
        LEFT: 37,
        RETURN: 13
      };
    </script>

    <a
      href="#content"
      class="visually-hidden skip-to-content"
      tabindex="0">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

    {%- section 'announcement-bar' -%}

    {%- section 'sidebar' -%}

    <div id="content-holder">

      <main id="content" role="main">

        {%- liquid 
        echo 'component-product-item.css' | asset_url | stylesheet_tag
        if template contains 'collection' or template contains 'search'
          echo 'section-main-collection.css' | asset_url | stylesheet_tag
        elsif template contains 'password'
          echo 'section-main-password.css' | asset_url | stylesheet_tag
        elsif template contains 'cart'
          echo 'component-cart.css' | asset_url | stylesheet_tag
        elsif template contains 'customers'
          echo 'section-customers.css' | asset_url | stylesheet_tag
        endif
      -%}

        {{ 'component-slider.css' | asset_url | stylesheet_tag }}
        <script src="{{ 'component-slider.js' | asset_url }}" defer></script>

        <div id="page-content">{{ content_for_layout }}</div>

        <div id="footer-content">
          {%- sections 'footer-group' -%}
        </div>

      </main>

    </div>

    {%- section 'popup' -%}

    <script type="text/javascript">

      KROWN = {
      settings: {
                                                                    shop_money_format: '{{ shop.money_format }}',
      cart_action: "{{ settings.cart_action }}",
      routes: {
                                                                      cart_url: "{{ routes.cart_url }}",
      cart_add_url: "{{ routes.cart_add_url }}",
      cart_change_url: "{{ routes.cart_change_url }}",
      predictive_search_url: "{{ routes.predictive_search_url }}"
      },
                                                                    locales: {
                                                                      products_add_to_cart_button: `{{ 'products.page.add_to_cart_button' | t }}`,
      products_sold_out_variant: `{{ 'products.page.inventory.sold_out_variant' | t }}`,
      products_unavailable_variant: `{{ 'products.page.inventory.unavailable_variant' | t }}`,
      products_one_product: `{{ 'products.page.inventory.one_product' | t }}`,
      products_few_products: `{{ 'products.page.inventory.few_products' | t }}`,
      products_no_products: `{{ 'products.page.inventory.no_products' | t }}`,
      products_preorder: `{{ 'products.page.inventory.preorder' | t }}`,
      products_enough_products: ``,
                                                                      product_more_description_label: `{{ 'products.page.more_description_label' | t }}`,
      product_less_description_label: `{{ 'products.page.less_description_label' | t }}`,
      product_sku: `{{ 'products.page.sku' | t }}`,
      product_barcode: `{{ 'products.page.barcode' | t }}`,
      cart_add_error: `{{ 'cart.add_error' | t }}`,
      cart_general_error: `{{ 'cart.general_error' | t }}`
      },
                                                                    symbols: {
                                                                      arrow: `{%- render 'theme-symbols', icon: 'arrow-long' -%}`,
      zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
      zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,
      close: `{%- render 'theme-symbols', icon: 'close' -%}`,
      toggle_pack: `<span class="low-dpi">
        <svg
          class="svg symbol symbol--minus"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"><path
            fill-rule="evenodd"
            d="M18 13H6v-2h12v2z"
            fill="#000" /></svg>
      </span>
      <span class="high-dpi">
        <svg
          class="svg symbol symbol--minus"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"><path
            fill-rule="evenodd"
            d="M18 12.5H6V11h12v1.5z"
            fill="#000" /></svg>
      </span>
      <span class="low-dpi">
        <svg
          class="svg symbol symbol--plus"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11 13V18H13V13H18V11H13V6H11V11H6V13H11Z"
            fill="black" /></svg>
      </span>
      <span class="high-dpi">
        <svg
          class="svg symbol symbol--plus"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"><path
            fill-rule="evenodd"
            d="M10.75 12.25V17h1.5v-4.75H17v-1.5h-4.75V6h-1.5v4.75H6v1.5h4.75z"
            fill="#000" /></svg>
      </span>`
      },
                                                                    predictive_search_enabled: "true",
                                                                    predictive_search_placeholder: `<div class="sidebar__search-results">
        <a class="search-item blank first">
          <div class="thumbnail"></div>
          <div class="content">
            <h3 class="title"></h3>
            <span class="caption"></span>
          </div>
        </a>
        <a class="search-item blank">
          <div class="thumbnail"></div>
          <div class="content">
            <h3 class="title"></h3>
            <span class="caption"></span>
          </div>
        </a>
        <a class="search-item blank">
          <div class="thumbnail"></div>
          <div class="content">
            <h3 class="title"></h3>
            <span class="caption"></span>
          </div>
        </a>
      </div>`
      }
                                                                }
                                                            
                                                                if ( ! JSON.parse(document.getElementById('shopify-features').text).predictiveSearch ) {
                                                                  KROWN.settings.predictive_search_enabled = "false";
                                                                  document.querySelector('.sidebar__search.predictive-search').classList.remove('predictive-search');
                                                                }

    </script>

    <script type="text/javascript">
      if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
      document.querySelector('body').classList.remove('no-touch');
                                                            		  document.querySelector('body').classList.add('touch');
                                                            		}
    </script>

    <script src="{{ 'component-product-form.js' | asset_url }}" defer></script>
    <script src="{{ 'component-quantity-selector.js' | asset_url }}" defer></script>
    <script src="{{ 'component-predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    {%- if settings.cart_action == "overlay" or template.name contains "cart" -%}
      <script src="{{ 'component-cart.js' | asset_url }}" defer></script>
    {%- endif -%}
    {%- if settings.enable_quick_buy -%}
      <script src="{{ 'component-modal.js' | asset_url }}" defer></script>
      <script src="{{ 'component-quick-buy.js' | asset_url }}" defer></script>
      <link
        rel="stylesheet"
        href="{{ 'section-main-product.css' | asset_url }}"
        media="print"
        onload="this.media='all'">
    {%- endif -%}

    {%- if template contains 'product' -%}
      <script>
        if (document.getElementById('shopify-product-reviews')) {
          const lightboxScript = document.createElement('script');
          lightboxScript.src = "{{ 'component-lightbox.js' | asset_url }}";
          lightboxScript.defer = true;
          document.head.appendChild(lightboxScript);
          const reviewsScript = document.createElement('script');
          reviewsScript.src = "{{ 'section-reviews.js' | asset_url }}";
          reviewsScript.defer = true;
          document.head.appendChild(reviewsScript);
        }
      </script>
    {%- endif -%}

    {%- if settings.show_gotop -%}
      <span
        id="go-top"
        class="main-go-top"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
        <span class="visually-hidden">{{ 'general.accessibility_labels.go_to_top' | t }}</span>
        <span class="main-go-top__icon" aria-hidden="true">{%- render 'theme-symbols', icon: 'arrow' -%}</span>
        <span class="main-go-top__text" aria-hidde="true">{{ 'general.accessibility_labels.top' | t }}</span>
      </span>
      <script>
        window.addEventListener('scroll', () => {
          if (window.scrollY > 500) {
            document.getElementById('go-top').classList.add('show');
          } else {
            document.getElementById('go-top').classList.remove('show');
          }
        }, {passive: true});
      </script>
    {%- endif -%}

    {%- if request.design_mode -%}
      <script src="{{ 'component-announcement-bar.js' | asset_url }}" defer></script>
      <script src="{{ 'component-toggle.js' | asset_url }}" defer></script>
      <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>
      <script src="{{ 'section-main-product.js' | asset_url }}" defer></script>
      <script src="{{ 'section-gallery.js' | asset_url }}" defer></script>
      <script src="{{ 'component-video.js' | asset_url }}" defer></script>
      <script src="{{ 'component-video-background.js' | asset_url }}" defer></script>
      <script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>
      <script src="{{ 'component-cart.js' | asset_url }}" defer></script>
      <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
    {%- endif -%}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBJDK2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- Stamped -->
    <script 
    async 
    type="text/javascript" 
    data-api-key="20cebd9f-d0fb-4a89-a9bc-6b7ea3beaf84" 
    id="stamped-script-widget" 
    src="https://cdn1.stamped.io/files/widget.min.js">
    </script>
    <!-- End Stamped -->
    
  </body>
</html>